<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/profile.css">
</head>
<body>
<section class="profile">
    <header class="header">
        <div class="details">
            <div class="circle">
                <p class="circle-text"><%=user.username[0]%></p>
            </div>
            <h1 class="heading" style="font-size: 60px;letter-spacing: 10px;"><%=user.username%></h1>
            <div class="location">
                <p style="font-size: 30px"><%=user.house%>, Floor No. <%=user.floor%></p>
            </div>
            <div class="stats">
                <div class="col-4">
                    <h4><%=user.phone%></h4>
                    <p>Phone No.</p>
                </div>
                <div class="col-4">
                    <h4><%=user.amount%></h4>
                    <p>Amount to be paid</p>
                </div>
                <div class="col-4">
                    <h4><%=user.paid%></h4>
                    <p>Paid Amount</p>
                </div>
            </div>
        </div>
    </header>
</section>

</body>
</html>
